body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



a {
    color: blue;
    text-decoration: 0;
    border: 1px solid blue;
    padding: 10px 25px;
    border-radius: 5px;
    margin: 25px 0;

}